{% extends 'base.html' %}
{% block head_contenido %}
<title>Paxel | Edita tu foro</title>
{% endblock %}
{% block container %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Edita tu foro</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 text-left">
            {% if isCreador %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block mt-5">Actualizar foro</button>
                </form>
            {% else %}
                <h1>Acceso Denegado</h1>
            {% endif %}


        </div>
    </div>
</div>
{% endblock %}
